/* root */

:root {
  --color1: #fff;
  --color2: #fff;
  --color3: #fff;
  --color4: #fff;
  --color5: #fff;
  --white: #fff;
  --black: #000;

  -font-family1: "Some Font Here";
  -font-family2: "Some Font Here";
  -font-family3: "Some Font Here";
}

/* ============================= General =============================*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #cc1616;
  text-decoration: none;
}

a:hover {
  color: #e82d2d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
/* ============================= Back to top btn =============================*/

/* ============================= Header =============================*/

/* ============================= Nav Menu =============================*/

/* ==================== Desktop nav ===================*/

/* ==================== Mobile Nav ===================*/

/* ============================= Hero =============================*/

/* ============================= Footer =============================*/
